body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

header {
    background-color: #000000; /* Dourado */
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #ffffff; /* Tomate */
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.menu-item {
    background-color: #000000; /* Verde */
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.sobre, .contato {
    padding: 20px;
    text-align: center;
    background-color: #fff; /* Branco */
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
}
