@charset "UTF-8";

/* Importação de font ( google fonts) */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Variavéis */

:root{
    --azul : #05152b;
    --branco : #fff;
    --azure: 	#E0FFFF;

}
/* CSS Reset (compatibilizar com todos navegadores */
*{
    margin:  0;
    padding: 0;
    border:  0;
}

/* Layout */ 
body {
    font-family: "Open Sans", serif;
    font-size: 1em; /* 1em = 100% ( tamanho padrão )*/
}

.container{
    margin: 0 auto; /* margem centralizada o bloco*/ 
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* Cabeçalho */
header {
    height: 100px;
    background-color: rgb(13, 187, 199);
}
#Check{
    display: none;
}

/*Efeito de deslizar o menu */
/*Se Check estiver "ticado", criar um estilo para ul*/
#Check:checked~ul{
    right: 0;

}


label{
     font-size: 3em;
     position: fixed;
     top: 5px;
     right: 15px;
     color: rgba(0, 0, 0, 0.5); /*0.5 = 50% de transparencia*/
}

nav ul {
    height: 100vh; /* 100vh - 100% altura da tabela*/
    background-color: var(--azure);
    list-style: none; 
    /*Removendo bullets*/
    width: 65%;
    position: fixed;
    top: 100px;
    right: -65%;
    transition: all 0.5s;
}

nav ul li{
    padding: 15px 20px 15px 20px;
    border-bottom: 3px solid var(--branco);
    text-align: right;

}
nav ul li a {
    color: black;
    text-decoration: none; /*remover sublinhado*/
}
#logo img {
    width: 95px;
    height: 90px;
    margin: 0px 70px 80px 0px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
    /* Cabeçalho */
    #logo img {
        margin: 100px 50px 55px 0px;
    }
    .container {
        max-width: 540px;
        background-color: #0ff;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
    /* cABEÇALHO*/
    .container {
        max-width: 720px;
        background-color: blue;
    }
    header{
        height: 130px;
    }
    #logo img {
        width: 95px;
        height: 90px;
        margin: 0px 70px 80px 0px;
           
    }
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
    /* cabeçalho */
    .container{
        max-width: 965px;
        background-color: #ffa500;
    }

}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
    .container{
        max-width: 1140;
        background-color: aquamarine;
    }
    #logo img {
        width: 100px;
        height: 100px;
    }

}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Telas FullHd / 4k / smarTv >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1400px) {
    .container{
        max-width: 1360;
        background-color: antiquewhite;
    }
    #logo img {
        width: 100px;
        height: 100px;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/