@charset "UTF-8";

/* Importação de font ( google fonts) */ 
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');;

/* Variavéis */

:root{
    --azul : #05152b;
    --branco : #fff;
    --azure: 	#E0FFFF;
    --preto: #000000;
    --roxo: #6959CD

}
/* CSS Reset (compatibilizar com todos navegadores */
*{
    margin:  0;
    padding: 0;
    border:  0;
}

/* Layout */ 
body {
    font-family: "Open Sans", serif;
    font-size: 1em; /* 1em = 100% ( tamanho padrão )*/

}

.container{
    margin: 0 auto; /* margem centralizada o bloco*/ 
    display: flex;
    justify-content: space-between; /* Para alinhar à esquerda */
    align-self: center;
   
}
.botao{
    text-decoration: none;
    color: var(--roxo);
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--branco);
    width: 200px;
    padding: 5px 0px;
    border: 2px solid var(--preto);
    border-radius: 25px;
    align-self: center;
    margin-top: 20px;



    
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* Cabeçalho */
header {
    height: 100px;
    /*background-color: rgb(13, 187, 199);*/
}
#Check{
    display: none;
}

/*Efeito de deslizar o menu */
/*Se Check estiver "ticado", criar um estilo para ul*/
#Check:checked~ul{
    right: 0;

}


label{
     font-size: 3em;
     position: fixed;
     top: 5px;
     right: 15px;
     color: rgba(131, 111, 255, 0.5)0.5 = /* 50% de transparencia*/
}

nav ul {
    height: 100vh; /* 100vh - 100% altura da tabela*/
    background-color: var(--roxo);
    list-style: none; 
    /*Removendo bullets*/
    width: 65%;
    position: fixed;
    top: 100px;
    right: -65%;
    transition: all 0.5s;
}

nav ul li{
    padding: 15px 20px 15px 20px;
    border-bottom: 3px solid var(--branco);
    text-align: right;

}
nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none; /*remover sublinhado*/
}
#logo img {
    width: 95px;
    height: 90px;
    margin: 0px 70px 80px 0px;
}
/* Banner */
main{
    height: 60vh; /*Ajuste da altura do banner*/
    background: url(img/cyber-7633492_1280.jpg);
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
main h1, h2{
    color: var(--branco);
    text-shadow: #fff 0.05em  0.05en 0.05em; /*Adicionar sombra no texto*/
    
}
main h1{
    font-size:  3em;
    font-family: 'Times New Roman', Times, serif;
}

main h2{
     font-size: 1.5em;
     margin-top: 30px;
     font-family: 'Times New Roman', Times, serif;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
    /* Cabeçalho */
    #logo img {
        margin: 0px 0px 55px 0px;
    }
    .container {
        max-width: 540px;
        /*background-color: rgb(13, 187, 199);*/
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {
    /* CABEÇALHO*/
    .container {
        max-width: 720px;
       /* background-color: rgb(13, 187, 199);*/
    }
    header{
        height: 130px;
    }
    #logo img {
        width: 95px;
        height: 90px;
        margin: 0px 70px 80px 0px;
           
    }
    nav ul{
        top: 130px;
        width: 50%;
        right: -50%;
        

    }
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {
    /* cabeçalho */
    .container{
        max-width: 965px;
       /* background-color: rgb(13, 187, 199);*/
    }
    nav ul{
        top: 
        width: 
        right: 
        

    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
    .container{
        max-width: 1140;
        /*background-color: rgb(13, 187, 199);*/
    }
    /*Cabeçalho*/
    header{
        height: 150px;  
    }
    #logo img {
        width: 100px;
        height: 100px;
    }
    /*Transformação do menu*/
    label{
        display: none;
    }
    nav ul{
        width: 150%;
        height: auto;
        position: static;
        background-color: transparent;
        /*Background-color: transparente; remove a cor do background*/


    }
    nav ul li{
        float: left;
        border: 0;

    }
    nav ul li a{
        color: var(--azul);
    }
    nav ul li a:hover{
        color: black;

    }
    
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Telas FullHd / 4k / smarTv >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1400px) {
    .container{
        max-width: 1360;
       /* background-color: rgb(13, 187, 199);*/

    }
    #logo img {
        width: 100px;
        height: 100px;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/