@charset "UTF-8";

/* Importação de font ( google fonts) */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Variavéis */

:root {
    --azul: #05152b;
    --branco: #fff;
    --azure: #E0FFFF;
    --preto: #000000;
    --roxo: #6959CD;

}

/* CSS Reset (compatibilizar com todos navegadores */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Layout */
body {
    font-family: "Open Sans", serif;
    font-size: 1em;
    /* 1em = 100% ( tamanho padrão )*/
    background-color: var(--branco);

}

.container {
    margin: 0 auto;
    /* margem centralizada o bloco*/
    display: flex;
    justify-content: space-between;
    /* Para alinhar à esquerda */
    align-self: center;

}

.botao {
    text-decoration: none;
    color: var(--roxo);
    font-size: 1.3em;
    background-color: var(--preto);
    width: 200px;
    padding: 5px 0px;
    border: 2px solid var(--preto);
    border-radius: 25px;
    align-self: center;
    margin-top: 20px;




}

/*Fim do Layout <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* Cabeçalho */
header {
    height: 100px;
    /*background-color: rgb(13, 187, 199);*/
}

#logo img {
    width: 128px;
    height: 128px;
}

#Check {
    display: none;
}

/*Efeito de deslizar o menu */
/*Se Check estiver "ticado", criar um estilo para ul*/
#Check:checked~ul {
    right: 0;

}


label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
    /* 50% de transparencia*/
    color: rgba(100, 149, 237)0.5
}

nav ul {
    height: 100vh;
    /* 100vh - 100% altura da tabela*/
    background-color: var(--roxo);
    list-style: none;
    /*Removendo bullets*/
    width: 65%;
    position: fixed;
    top: 100px;
    right: -65%;
    transition: all 0.5s;
}

nav ul li {
    padding: 15px 20px 15px 20px;
    border-bottom: 3px solid var(--branco);
    text-align: right;

}

nav ul li a {
    color: #fff;
    /*remover sublinhado*/
    text-decoration: none;
}

#logo img {
    width: 95px;
    height: 90px;
    margin: 0px 70px 80px 0px;
}

/* Banner */
main {
    height: 60vh;
    /*Ajuste da altura do banner*/
    background: url(img/cyber-7633492_1280.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

main h1,
h2 {
    color: var(--branco);
    /*Adicionar sombra no texto*/
    text-shadow: #000000 0.05em 0.05en 0.05em;

}

main h1 {
    color: var(--branco);
    font-size: 2.9em;
    font-family: "Koulen", sans-serif;

}

main h2 {
    color: var(--branco);
    font-size: 1.5em;
    margin-top: 30px;
    font-weight: 100;
}


/* FIm | Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/



/*********************destque***********************/

#destaque {
    background: url(img/artificial-intelligence.jpg);
    background-size: cover;
    background-position: center;
    /*Espaçamento interno para não encostar na borda da tela do dispositivo*/
    padding: 50px 15px;
}

/*Atenção!!! Organizando o container após o destque o estilo é aplicado apenas ao container de seção de destaque*/
#destaque.container {
    
    flex-direction: column;
    align-items: center;
}

#imagemDestaque img {
    width: 30px;
    height: 30px;
    /*arrendondar uma imagem quadrada*/
    border-radius: 50%;
}

/*Para esconder a imagem usamos display: none no container da imagem | Para exibir novamente em telas maiores usamos "display:block"*/
#textoDestaque {

    color: var(--branco);
}

#textoDestaque h2 {
    margin-bottom: 20px;
}

#textoDestaque>p {
    color: var(--branco);
}

.topicos {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.topicos img {
    margin-right: 5px;
}

.topicos p {
    font-weight: 600;
}

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
    /******Layout**********/
    /* Cabeçalho */

    #logo img {
        margin: 0px 0px 55px 0px;
    }

    .container {
        max-width: 540px;
        /*background-color: rgb(13, 187, 199);*/
    }

    nav ul {
        right: -25%;
        width: 25%;
    }

    /*Banner*/
    main {
        height: 100vh;
    }

    main h1 {
        font-size: 3em;
    }
}

/*Fim | Smarthphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/***destaque***/
#destaque .container {
    flex-direction: row;
}

#imagemDestaque {
    margin-right: 50px;
}

#imagemDestaque img {
    width: 256px;
    height: 256px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {

    /* Layout */
    /* CABEÇALHO*/
    .container {
        max-width: 720px;
        /* background-color: rgb(13, 187, 199);*/
    }

    header {
        height: 130px;
    }

    #logo img {
        width: 95px;
        height: 90px;
        margin: 0px 70px 80px 0px;

    }

    nav ul {
        top: 130px;
        width: 50%;
        right: -50%;
    }

    main {
        height: 80vh;
    }

    main h1 {
        font-size: 4em;
    }
}


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Fim | Tablet Portrait  >>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {

    /*Layout*/
    /* cabeçalho */
    .container {
        max-width: 965px;
        /* background-color: rgb(13, 187, 199);*/
    }

    main {
        height: 70vh;
    }
}

/*Destaque*/

#imagemDestaque img {
    width: 440px;
    height: 440px;
}

#destaque {
    /*O Código abaixo fixa o banner */
    background-attachment: fixed;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/* Fim | Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px) {
    .container {
        max-width: 1140;
        /*background-color: rgb(13, 187, 199);*/
    }

    /*Cabeçalho*/
    header {
        height: 150px;
    }

    #logo img {
        width: 100px;
        height: 100px;
    }

    /*Transformação do menu*/
    label {
        display: none;
    }

    nav ul {
        width: 150%;
        height: auto;
        position: static;
        /*Background-color: transparente; remove a cor do background*/
        background-color: transparent;



    }

    nav ul li {
        float: left;
        border: 0;

    }

    nav ul li a {
        color: var(--azul);
    }

    nav ul li a:hover {
        color: black;

    }

    /*Banner*/
    main h1 {
        font-size: 6em;
    }

    main h2 {
        font-size: 3em;
    }

}



/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Fim | PCs / Notebooks >>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* Telas FullHd / 4k / smarTv >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1400px) {
    .container {
        max-width: 1360;
        /* background-color: rgb(13, 187, 199);*/

    }

    #logo img {
        width: 100px;
        height: 100px;
    }

    main {
        height: 100vh;
    }

    main h1 {
        font-size: 6.5em;
    }

    main h2 {
        font-size: 4em;
    }
}

/* Fim | Telas Grandes (FullHD / 4K / SmartTV) >>>>>*/
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/